@page "/todo"

@using BlazorPlayground.Data

<h3>Todo List</h3>
Total items: @allTodoItems.Count()
<br />
Done: @allTodoItems.Count(x => x.IsDone) out of @allTodoItems.Count()
<br />
Not Done: @allTodoItems.Count(x => !x.IsDone) out of @allTodoItems.Count()
<br />

<ul>
    @foreach (var todo in allTodoItems)
    {
        <li>
            <input type="checkbox" @bind="todo.IsDone" />
            <input @bind="todo.Title" />
            <input type="datetime-local" @bind="todo.DateAdded" />
            <InputFile OnChange="((InputFileChangeEventArgs args) => OnFileSelected(args, todo))" multiple />
        </li>
    }
</ul>


<input placeholder="Write something to do..." @bind="newTodo" />
<button @onclick="AddTodo">Add Todo Item</button>

@code {
    private IList<TodoItem> allTodoItems = new List<TodoItem>();
    private string newTodo;

    private void AddTodo()
    {
        if (!String.IsNullOrWhiteSpace(newTodo))
        {
            allTodoItems.Add(new TodoItem(newTodo));
            newTodo = "";
        }
    }

    private void OnFileSelected(InputFileChangeEventArgs e, TodoItem todo)
    {
        todo.AssociatedFiles = e.GetMultipleFiles();
        this.StateHasChanged();
    }
}
